
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-list {
  background-image: url("/Images/space.01.jpg");
  background-size: contain;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}


header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > img {
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.meme {
  position: relative;
  width: 70%;
  margin: auto;
}

.meme > img {
  width: 100%;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height: 40px;
}

.meme-form > button {
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441A5;
}

.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-family: VT323, monospace;
font-size: 25px;
text-align: cen
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
font-family: VT323, monospace;
font-size: 25px;
text-align: cen
}
.meme-form > input:-ms-input-placeholder { /* IE 10+ */
font-family: VT323, monospace;
font-size: 25px;
text-align: cen
}
.meme-form > input:-moz-placeholder { /* Firefox 18- */
font-family: VT323, monospace;
font-size: 25px;
text-align: cen
}



.column {
  padding: 20px;
  margin:15px;
  background-image: url("/Images/space.jpg");
  color:azure;
  background-size: cover;
  margin-left:45px;
}
.App {
  display: flex;
  flex-direction: column;
}

.App a {
  text-decoration: none;
  color: #ff6600;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
}

.App-header {
  flex: .2;
  text-align: center;
  background-color: #222;
  padding: 8px;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AttemptsLeft {
  font-style: italic;
  font-size: 0.9em;
}

.AttemptsLeft-Number {
  color: #ff6600;
}
.App a:hover {
  text-decoration: none;
}

.column1 {
  padding: 20px;
  height: 422px;
  margin:15px;
  color:black;
  background-size: cover;
}
.backImg {
  background-image: url("/Images/space.01.jpg");
  background-size: contain;
}

.backImg1 {
  background-image: url("/Images/trivia-tuesdays-background.jpg");
  background-size: contain;
}

.staged{
  opacity: 1;
  font-size:35px;
  float:right;
  position: absolute;
  margin:1px;
}
.staged1{
  opacity: 1;
  font-size:35px;
  float:right;
  position: absolute; 
  margin:1px;

}
.staged2{
  opacity: 1;
  font-size:35px;
  float:right;
  position: absolute; 
  margin:1px;

}
.stage{
  float:right;
  clear:right;
  margin-right:-5px;
  margin-top:-45px;
  position: relative;
	list-style: none;
	padding: -20px;
	color: azure;
	text-align: left;
  font-size: 0.9em;
  font-style: oblique;
  text-decoration: underline;
  color:azure  ;

}
li{
  list-style: none;
  margin-top:-15px;
}
.list-item
{
    float: right;
    clear: right;
}

.button {
  background-color:DodgerBlue ; /* Green */
  color: white;
  padding: 2px ;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  position: relative;
  float:right;
  justify-content: center;
  margin:2px;

}

.Game-content {
  flex: .7;
  padding-left: 8px;
}

.Game-InputPanel {
  flex: .5 1 50%;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.Game-InputPanel .Game-Word {
  flex: .1;
}

.Game-InputPanel .Game-AttemptsLeft {
  flex: .1;
}

.Game-InputPanel .Game-VirtualKeyboard {
  flex: .8;
}

.Game-InputPanel .Game-GameWin {
  flex: .8;
  font-weight: 600;
  font-size: 1.3em;
}

.Game-InputPanel .Game-GameOver {
  flex: .8;
  font-weight: 600;
  font-size: 1.3em;
}

.Game-Hangman {
  flex: .5 1 50%;
  margin-top: -80px;
}

.Game-SideBySide {
  display: flex;
  flex-wrap: wrap;
}

.VirtualKeyboard {
  text-transform: uppercase;
}

.VirtualKeyboard > div {
  margin-bottom: 8px;
}

.VirtualKeyboard > div:last-child {
  margin-bottom: 0;
}